/* Common variables of scss*/

$transition-base: all 0.3s ease 0s;

/* Colors */

$dark: #212832;
$white: #fff;
$primary: #388E3C;
$secondary: #e7f8ee;
$black:#000;

/* Font */

$font-family-base:"Gordita";
$font-size-base:1rem;
$font-weight-base:400;
$line-height-base:1.5;

/* body variabled */

$body-color:#52565b;
$body-bg:#fff;