@import 'variables';
.topbar {
    background-color: $dark;
    color: $white;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    svg {
        height: 20px;
        width: 20px;
    }
    .topbar-left {
        span:last-child {
            color: $primary;
        }
    }
    .topbar-center {
        position: relative;
        .phone-svg {
            fill: none;
            stroke: $primary;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
        }
        .email-svg {
            fill: $primary;
        }
        span {
            a {
                transition: $transition-base;
                cursor: pointer;
                &:hover {
                    color: $primary;
                }
            }
        }
        &::before {
            position: absolute;
            content: '';
            width: 41px;
            height: 14px;
            background-image: url("./../../../../../assets/images/shape/shape-1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: -110px;
        }
        &::after {
            position: absolute;
            content: '';
            width: 41px;
            height: 14px;
            background-image: url("./../../../../../assets/images/shape/shape-2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: -110px;
        }
    }
    .topbar-right {
        svg {
            cursor: pointer;
            path,
            line,
            rect {
                stroke: $white;
                transition: $transition-base;
            }
            &:hover {
                path,
                line,
                rect {
                    stroke: $primary;
                }
                .facebook-svg {
                    fill: $primary;
                }
            }
        }
        .facebook-svg {
            fill: $white;
            stroke-miterlimit: 10;
        }
        .twitter-svg {
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        .skype-svg {
            fill: none;
            stroke-miterlimit: 10;
        }
        .instagram-svg {
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
}