@import 'variables';
.terms {
    background-color: $dark;
    float: left;
    width: 100%;
    .terms-wrapper {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 5px;
        .terms-link,
        .terms-text {
            padding-top: 15px;
        }
        .terms-link {
            a {
                font-weight: 400;
                font-size: 14px;
                color: $white;
                position: relative;
                &+a {
                    &::before {
                        content: '*';
                        font-size: 15px;
                        color: #a6afba;
                        margin-left: 5px;
                        margin-right: 10px;
                    }
                }
                &:hover {
                    color: $primary;
                }
            }
        }
        .terms-text {
            & p {
                color: $white;
                font-size: 14px;
                font-weight: 400;
                & span {
                    color: $primary;
                    text-transform: uppercase;
                }
                & mat-icon {
                    color: #ff0000;
                    font-size: 14px;
                }
                & a {
                    color: $primary;
                    transition: $transition-base;
                    font-weight: 500;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}