<div class="footer px-6">

    <img class="shape-1 animation-down" src="assets/images/shape/shape-21.png" alt="Shape">

    <div class="row">
        <div class="col-3">

            <div class="footer-widget">
                <div class="widget-logo">
                    <a href="#"><img src="assets/images/logo.png" alt="Logo"></a>
                </div>

                <div class="widget-address">
                    <h4 class="footer-widget-title">Caribbean Ct</h4>
                    <p>Haymarket, Virginia (VA).</p>
                </div>

                <ul class="widget-info">
                    <li>
                        <p>
                            <svg viewBox="0 0 23.83 20">
                                <path class="email-svg"
                                    d="M23.83,2.35A2.34,2.34,0,0,0,21.5,0H2.33A2.34,2.34,0,0,0,0,2.35v15.3A2.34,2.34,0,0,0,2.33,20H21.5a2.34,2.34,0,0,0,2.33-2.35ZM2.34,1.88H21.52a.46.46,0,0,1,.46.47v0l-9.72,9.8a.46.46,0,0,1-.66,0L1.87,2.36h0A.47.47,0,0,1,2.34,1.88ZM21.52,18.12H2.34a.47.47,0,0,1-.47-.47V5l8.41,8.48a2.32,2.32,0,0,0,3.3,0L22,5V17.65A.46.46,0,0,1,21.52,18.12Z" />
                            </svg>
                            <a href="mailto:a.shadcome@gmail.com">a.shadcome@gmail.com</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <svg viewBox="0 0 26.42 26.46">
                                <path class="phone-svg"
                                    d="M17.05,5.68a5.85,5.85,0,0,1,4.62,4.61M17.05,1a10.52,10.52,0,0,1,9.29,9.28m-1.17,9.33v3.51a2.33,2.33,0,0,1-2.33,2.34h-.22a23.19,23.19,0,0,1-10.08-3.58,22.83,22.83,0,0,1-7-7A23.28,23.28,0,0,1,1.93,4.72,2.34,2.34,0,0,1,4.05,2.18H7.77a2.33,2.33,0,0,1,2.33,2,15.45,15.45,0,0,0,.82,3.28,2.35,2.35,0,0,1-.52,2.47L8.91,11.42a18.75,18.75,0,0,0,7,7l1.48-1.49a2.35,2.35,0,0,1,2.47-.52,15.45,15.45,0,0,0,3.28.82A2.32,2.32,0,0,1,25.17,19.61Z" />
                            </svg>
                            <a href="tel:+989152232973">(+98) 9152232973</a>
                        </p>
                    </li>
                </ul>

                <ul class="widget-social">
                    <li>
                        <a href="#">
                            <svg viewBox="0 0 9.78 19.37">
                                <path class="facebook-svg"
                                    d="M11.75,6.46V4.54c0-.87.2-1.31,1.55-1.31H15V0H12.13C8.65,0,7.51,1.59,7.51,4.3V6.5H5.22V9.72H7.51v9.65h4.24V9.69h2.87L15,6.46ZM13.9,8.88H11v9.68H8.32V8.88H6V7.27H8.32V4.34A3.63,3.63,0,0,1,9.1,1.69a4.05,4.05,0,0,1,3-.89h2V2.42h-.89A2.52,2.52,0,0,0,11.38,3a2.19,2.19,0,0,0-.47,1.52V7.27h3.14Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg viewBox="0 0 22.99 19.12">
                                <path class="twitter-svg"
                                    d="M22,.89a10.38,10.38,0,0,1-3,1.46,4.28,4.28,0,0,0-7.5,2.86v1A10.16,10.16,0,0,1,2.91,1.84S-.91,10.43,7.68,14.25A11.11,11.11,0,0,1,1,16.15c8.59,4.78,19.08,0,19.08-11A4.22,4.22,0,0,0,20,4.39,7.35,7.35,0,0,0,22,.89Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg viewBox="0 0 19.85 19.85">
                                <path class="skype-svg"
                                    d="M18.72,13.39a8.32,8.32,0,0,0-11-11,3,3,0,0,0-5,3.24,3.07,3.07,0,0,0,.88.88,8.32,8.32,0,0,0,11,11,3,3,0,0,0,5-3.24A2.92,2.92,0,0,0,18.72,13.39Z" />
                                <path class="skype-svg"
                                    d="M8.17,12.31a2.39,2.39,0,0,0,2.38,2.38h1.19a2.38,2.38,0,0,0,0-4.76H10.55a2.38,2.38,0,0,1,0-4.76h1.19a2.37,2.37,0,0,1,2.38,2.38" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg viewBox="0 0 19.23 19.23">
                                <rect class="instagram-svg" x="1" y="1" width="17.23" height="17.23" rx="4.31" />
                                <path class="instagram-svg"
                                    d="M13.06,9.34a3.44,3.44,0,1,1-2.9-2.9A3.44,3.44,0,0,1,13.06,9.34Z"
                                    transform="translate(0 -0.27)" />
                                <line class="instagram-svg" x1="14.35" y1="4.88" x2="14.35" y2="4.88" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="footer-widget-link">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Category</h4>
                    <ul class="widget-link">
                        <li><a href="#">Creative Writing</a></li>
                        <li><a href="#">Film &amp; Video</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">UI/UX Design</a></li>
                        <li><a href="#">Business Analytics</a></li>
                        <li><a href="#">Marketing</a></li>
                    </ul>
                </div>
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Quick Links</h4>
                    <ul class="widget-link">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Discussion</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Course FAQ’s</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-3">

            <div class="footer-widget">
                <h4 class="footer-widget-title">Subscribe</h4>

                <div class="widget-subscribe">
                    <p>Lorem Ipsum has been them an industry printer took a galley make book.</p>

                    <div class="widget-form">
                        <form action="#" class="form">
                            <mat-form-field class="full-width" appearance="fill">
                                <input matInput placeholder="Email here">
                            </mat-form-field>
                            <button mat-raised-button class="btn" color="primary">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <img class="shape-2 animation-left" src="assets/images/shape/shape-22.png" alt="Shape">

</div>